/* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-image: url("./img/ocean.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  gap: 2rem;
}

.left {
  background-color: #ffffff7c;
  backdrop-filter: blur(8px);
  padding: 1rem;
  min-height: 80vh;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  font-size: 1.75rem;
}

span {
  position: relative;
  font-size: 1.75rem;
  bottom: -1px;
}

.opt-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}

.sliders-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.slider {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #545db9;
  border: none;
  border-radius: 5px;
  padding: 0.75rem 2rem;
  color: #fff;
  cursor: pointer;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.75rem;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 70px;
  height: 40px;
  border: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 8px;
  border: 4px solid #e1c1c100;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 8px;
  border: 4px solid #d8c5c500;
}

*/

.gridCol {
  height: 1.25em;
  width: 1.25em;
  border: 0.5px solid #1e1e1e1e;
}

.gridRow {
  display: flex;
}

.right {
  background-color: #817fef;
  position: fixed;
  height: 100vh;
  width: 25vw;
  top: 0;
  right: 0;
  z-index: 99;
  padding: 1rem;
}

.horiz {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container {
  width: 69vw !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 6vw;
  background: rgb(244, 244, 244);
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  border-radius: 2rem;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin: 0.5rem 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #574caf;
  border-radius: 2rem;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #574caf;
  border-radius: 2rem;
  cursor: pointer;
}

.style2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 47px;
  height: 50px;
  border: none;
  cursor: pointer;
  aspect-ratio: 1 !important;
}
.style2::-webkit-color-swatch {
  border-radius: 100%;
  border: none;
}
.style2::-moz-color-swatch {
  border-radius: 100%;
  border: none;
}

/* NEW */

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #817fef;
  height: 100vh;
  position: fixed;
  width: 6vw;
  z-index: 99;
}

.icon-button {
  padding: 0.5rem;
  transition: background-color 0.3s;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.icon-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.color-picker {
  padding-top: 0.5rem;
}
